# IDEs
.idea

golang-telegram-bot.iml

# Environments
*/.env

# Temporary files
tmp

# Binaries
brokerTDApp
telegramApp
userServiceApp
driveServiceApp

# SQL Scripts
000002_insert_default_users.down.sql
000002_insert_default_users.up.sql